@media  screen and (max-width:752px) {
    .home{
        // background: red;

        nav{
            // background-color: green;
            height: auto;
            padding-bottom: 10px;
            padding-top: 20px;

            .container{
                // background-color: plum;

                .row{
                    // background-color: peru;

                    .nav-img{

                    }
                    .navtxt{
                        display: none;
                    }
                    .navbtn{
                        // background-color: aqua;
                        margin-top: 10px;
                    }
                }
            }
        }

    }
    .home{
        .hometxt{
            .container{
                .maintxt{
                    p{
                        width: 100%;
                    }
                }
            }
        }
    }
    .about{
        .container{
            p{
                width: 90%;
            }
        }
    }

    .utility{
        background: #000;
        background-size: 100%;
        background-position: center;
    }
}