@media  screen and (max-width:752px) {
    .home nav .container .row .navbtn .navblink a button {
            display: none;
        }
                .home .hometxt .container .maintxt h1{
                    font-size: 4em;
                    line-height: 40px;
                }
        .home .hometxt .container .maintxt .homebtn a:nth-child(2){
            box-shadow: none;
            background-color: #000;
            opacity: .5;
        }
                .home .hometxt .container .maintxt .homebtn a:nth-child(1){
                    box-shadow: none;
                    opacity: .5;
                }
    .home{
        // background: red;
        height: 100vh;
        nav{
            // background-color: green;
            height: auto;
            padding-bottom: 10px;
            padding-top: 20px;

            .container{
                // background-color: plum;

                .row{
                    // background-color: peru;

                    .navimg{
                        width: 50%;
                    }
                    .navtxt{
                        display: none;

                        h1{
                            font-size: 3em;
                        }
                    }
                    .navbtn{
                        // background-color: aqua;
                        margin-top: 10px;
                        width: 50%;
                    }
                }
            }
        }

    }
    .home{
        .hometxt{
            height: 80%;
            .container{
                .maintxt{
                    p{
                        width: 100%;
                    }
                }
            }
        }
    }
    .about{
        .container{
            p{
                width: 90%;
            }
        }
    }

    .utility{
        background: #000;
        background-size: 100%;
        background-position: center;
            border: 3px solid #F7A500;

        .container{
            .row{
                div{
                    .utilitytxt{
                        div{
                            h1{
                                font-size: 2em;
                            }
                        }
                    }
                }
            }
        }    
    }
    .roadmap{
        // background: red;

        .container{
            .row{
                .roadul{
                    flex-direction: column;
                }
            }
        }
    }
        .roadmap .container .row .roadul .row .roadul div:nth-child(1){
            background: transparent;
        }
        .roadmap .container .row .roadul .row .roadul .road2i {
            background: transparent !important;
        }
        .roadmap .container .row .roadul .row .roadul .road3i {
        background: transparent !important;
        }
                .roadmap .container .row .roadul .row .roadul div:nth-child(2){
                    padding-left: 0;
                    margin-left: 0;
                }
                   footer {
                       // background-color: red;
        
                       .container {
                           .row {
                               display: flex;
                               // background-color: black;
                               justify-content: center;
                               align-items: center;
        
                               .fotimg {
                                   // background-color: blue;
                                   order: 5;
                                   display: flex;
                                   justify-content: center;
        
                                   img {
                                       display: block;
                                   }
        
                                   p {
                                       display: block;
                                   }
                               }
        
                               .footdes {
                                   order: 1;
                                   // background-color: aqua;
                                   padding-bottom: 50px;
        
                                   .row {
                                       .footul {
                                           order: 10;
                                           // background-color: yellowgreen;
                                       }
                                   }
                               }
                           }
                       }
                   }
                   
}

@media (min-width:753px) and (max-width:991px) {
    .home {
            // background: red;
    
            nav {
                // background-color: green;
                height: auto;
                padding-bottom: 10px;
                padding-top: 20px;
    
                .container {
                    // background-color: plum;
    
                    .row {
                        // background-color: peru;
                        display: flex;
                            justify-content: space-between;
                        .navimg {
                            width: 50%;
                        }
    
                        .navtxt {
                            display: none;
                        }
    
                        .navbtn {
                            // background-color: aqua;
                            margin-top: 10px;
                            width: 50%;
                        }
                    }
                }
            }
    
        }


        .about{
            .container{
                p{
                    width: 100%;
                }
            }
        }
        .utility{
            background: url(../img/Bgs/Vector.png);
                background-repeat: no-repeat;
                    background-size: cover;
                    background-position: top;
        }
}